$testColor : #CCCCCC;
$borderColor: #C3C3C3;
$shadowColor: #010101;
$defaultButtonColor: #DDDDDD;
$defaultButtonFontColor: #9D9D9D;
$defaultHeaderBackgroundColor: #2DBEEE;

p {
  font-color: $testColor;
}

.navbar-bg {
  background-color: $defaultHeaderBackgroundColor;
  color: white !important;
}

#progressBarParent {
	width: 60%;
}

#progressBar {
	width: 0%;
	min-width: 2em;
}

.align-right {
  text-align: right;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.form {
  margin: 1em;
}

#tf-holder {
  margin-bottom: 2em;
}

.load-file {
  border-top: 0.2em solid $borderColor;
  padding-top: 1em;
}

.main-right-menus {
  border-left: 0.1em solid $borderColor;
  padding-left: 0.5em;
}

.file-item {
  list-style: none;
  display: block;
  margin: 0.5em;
  padding: 0.2em;
  border-bottom: 0.1em solid $borderColor;

}

.render-file-button {
  margin-left: 1em;
}

.file-list {
  box-shadow: inset 0 0 0.2em $shadowColor;
  padding: 0.2em;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



// FONTS

h1 {
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h2 {
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 19.4px;
}
h3 {
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
body, p {
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}



.ini-modal {
	position: absolute !important;
	width: 400px !important;
	height: 300px !important;
  top: 50% !important;
  left: 50% !important;
  margin-left: -200px !important;
  margin-top: -150px !important;
  z-index: 10 !important;
  border-radius: 0.2em;
  padding: 1em;
  -webkit-box-shadow: -7px 10px 26px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: -7px 10px 26px 0px rgba(0,0,0,0.45);
  box-shadow: -7px 10px 26px 0px rgba(0,0,0,0.45);
  background-color: white;
}

.ini-modal-header {
  height: 25%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  background-color: $defaultHeaderBackgroundColor;
  color: white;
}

.ini-modal-content {
  height: 50%;
  width: 100%;
  padding: 1em !important;
  text-align: center !important;
}

.ini-modal-footer {
  height: 25%;
  width: 100%;
  padding: 1em;
  text-align: center;
}
