		<h1>Coverflow</h1>
		jQuery Coverflow effect with luxurious transformations (CSS3!) support for reflections and gracefull(ish) degradation.

		<h2>Examples</h2>

		<h3>Alphabet selector</h3>
		<div style="position:absolute;background:rgba(255,255,255,.75);z-index:1000;padding:10px">
			<button id="first">first</button>
			<button id="goto6">Go to #6</button>
			<button id="last">last</button>
			<br/><label for="keyboard"><input type="checkbox" id="keyboard" checked/>Keyboard</label>
			<br/><label for="click"><input type="checkbox" id="click" checked/>Click/tap</label>
			<br/><label for="wheel"><input type="checkbox" id="wheel" checked/>Scroll wheel</label>
		</div>
		<div class="coverflow" >
			<img class="reflected" data-name="Attic" src="components/coverflow/demo/attic.jpg"/>
			<img class="reflected" data-name="Aurora Borealis" src="components/coverflow/demo/aurora.jpg"/>
			<img class="reflected" data-name="Barbecued steak" src="components/coverflow/demo/barbecue.jpg"/>
			<img class="reflected" data-name="Black swan" src="components/coverflow/demo/blackswan.jpg"/>
			<img class="reflected" data-name="Chess" src="components/coverflow/demo/chess.jpg"/>
			<img class="reflected" data-name="Fire" src="components/coverflow/demo/fire.jpg"/>
			<img class="reflected" data-name="Keyboard" src="components/coverflow/demo/keyboard.jpg"/>
			<img class="reflected" data-name="Locomotive" src="components/coverflow/demo/locomotive.jpg"/>
			<img class="reflected" data-name="Novo-Diveevo monastery" src="components/coverflow/demo/diveevo.jpg"/>
			<img class="reflected" data-name="Person" src="components/coverflow/demo/person.jpg"/>
			<img class="reflected" data-name="Rose" src="components/coverflow/demo/rose.jpg"/>
			<img class="reflected" data-name="Seagull" src="components/coverflow/demo/seagull.jpg"/>
			<img class="reflected" data-name="Solar power" src="components/coverflow/demo/solarpower.jpg"/>
		</div>
