<div>
	<h1>Xrays</h1>
	<select id="namesXray">
	</select>
	
	<div style="position:absolute;background:rgba(255,255,255,.75);z-index:1000;padding:10px">
		<button id="first">first</button>
		<button id="goto6">Go to middle</button>
		<button id="last">last</button>
		<!-- <br/><label for="keyboard"><input type="checkbox" id="keyboard" checked/>Keyboard</label>
		<br/><label for="click"><input type="checkbox" id="click" checked/>Click/tap</label>
		<br/><label for="wheel"><input type="checkbox" id="wheel" checked/>Scroll wheel</label> -->
	</div>
	<div class="coverflow" >
		
	</div>
</div>
