<div class="ini-modal" id="load-ini-file">
  <div class="ini-modal-header">
    <div class="display-inline-block">
      <h2>Load ini file for your data set if you have it!</h2>
    </div>
  </div>
  <div class="ini-modal-content">
    <div class="display-inline-block">
      <form class="file-form">
        <div class="form-group">
          <span class="btn btn-default btn-file">
            Load file <input type="file" id="ini-file-input">
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="ini-modal-footer">
    <div class="display-inline-block">
      <button class="btn btn-danger" id="no-ini-file">I don't have an ini file</button>
    </div>
  </div>
</div>
